.git
.gitignore
.editorconfig

# Compiled files
**/.terraform/*
**/.terragrunt-cache/*
*.tfstate
*.tfstate.*
**/tfoutput.json

# Data files
data
tpch-dbgen
query_root

# Module directory
.terraform
**/.idea
**/*.iml

# Downloaded zips
*.zip
